body {
  padding-top: 4.5rem;
}

.container-post img {
  max-width: 100%;
  height: auto;
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  border-radius: .25rem !important;
}

.highlight pre {
  padding: 1rem !important;
  border-radius: .25rem !important;
}

@media (min-width: 768px) {
  .container-post h2 {
    margin-top: 3rem !important;
    margin-bottom: 1rem !important;
  }
}
