{{ define "main" }}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="display-5 my-5 pb-2 border-bottom">{{ .Type | humanize | title }}</h1>
        {{ range .Pages.ByDate.Reverse }}
          <article>
            <header>
              <h2>
                {{ if .Truncated }}
                  <a href="{{ .RelPermalink }}" title="Read '{{ .Title }}'" rel="bookmark">{{ .Title }}</a>
                {{ else }}
                  {{ .Title }}
                {{ end }}
              </h2>
              <p><time class="text-muted">{{ .Date.Format "Jan 2, 2006" }}</time></p>
            </header>
            {{ .Summary }}
          </article>
          <hr class="col-3 my-5">
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
