@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Lora");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
}

html {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: -0.2px;
}

h1 {
  font-size: 2.5rem;
}

.sidebar {
  background-color: #061C30;
  color: #848d96;
}

.sidebar a:hover,
.sidebar a:focus {
  text-decoration: none;
  border-bottom: 1px dotted #FFFFFF;
}

.sidebar .lead {
  font-size: inherit;
  font-weight: inherit;
}

.sidebar-about h1 {
  font-family: 'Montserrat', sans-serif;
  color: #CCCCCC;
}

.sidebar-about a {
  color: #848d96;
  transition-duration: 0.5s;
  border-bottom: 1px dotted #848d96;
}

.sidebar-about a:hover {
  color: #CA486d;
  text-decoration: none;
  transition-duration: 0.1s;
  border-bottom: 1px dotted #CA486d;
}

.sidebar-credit {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 14px;
}
