<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      {{ with .Site.GetPage "section" "blog" }}
      <h1>{{ .Title }}</h1>
      <p class="lead">{{ .Description }}</p>
      {{ end }}
    </div>

    <ul class="sidebar-nav">
      <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
      {{ range .Site.Menus.main -}}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{- end }}
    </ul>

    <ul class="sidebar-nav-icons">
      <li>
        <a href="mailto:hello@sul.im" title="Email"><span class="icon-envelope"></span></a>
      </li>
      <li>
        <a href="https://www.github.com/soulim" title="GitHub"><span class="icon-social-github"></span></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/soulim/" title="LinkedIn"><span class="icon-social-linkedin"></span></a>
      </li>
      <li>
        <a href="https://www.twitter.com/soulim" title="Twitter"><span class="icon-social-twitter"></span></a>
      </li>
    </ul>

    <div class="sidebar-credit">
      <p>&copy;&nbsp;{{ now.Format "2006"}} {{ .Site.Copyright }}</p>
    </div>
  </div>
</div>
