@font-face {
  font-family: "iA Writer Duo";
  src:
    {{ $font := resources.Get "fonts/iAWriterDuoS-Regular.eot" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("embedded-opentype"),

    {{ $font := resources.Get "fonts/iAWriterDuoS-Regular.woff2" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("woff2"),

    {{ $font := resources.Get "fonts/iAWriterDuoS-Regular.woff" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "iA Writer Duo";
  src:
    {{ $font := resources.Get "fonts/iAWriterDuoS-Italic.eot" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("embedded-opentype"),

    {{ $font := resources.Get "fonts/iAWriterDuoS-Italic.woff2" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("woff2"),

    {{ $font := resources.Get "fonts/iAWriterDuoS-Italic.woff" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "iA Writer Duo";
  src:
    {{ $font := resources.Get "fonts/iAWriterDuoS-Regular.eot" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("embedded-opentype"),

    {{ $font := resources.Get "fonts/iAWriterDuoS-Regular.woff2" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("woff2"),

    {{ $font := resources.Get "fonts/iAWriterDuoS-Regular.woff" | resources.Fingerprint "sha512" -}}
    url("{{ $font.RelPermalink }}") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: var(--font-ia-writer-duo, --bs-body-font-family) !important;
}

.highlight pre {
  padding: 1.25rem 1.75rem;
  border-radius: var(--bs-border-radius) !important;
}

.navbar-brand,
.offcanvas-title {
  font-weight: bold;
}
