{{ define "main" }}
<section class="container col-md-6 py-5">
  <header class="display-5 pb-2 border-bottom">{{ .Title }}</header>
  <div class="mb-5 text-muted">{{ .Content }}</div>
  {{ range .Pages.ByDate.Reverse }}
  <article class="my-5">
    <header>
      <h4>
        {{ if .Truncated }}
        <a href="{{ .RelPermalink }}" title="Read '{{ .Title }}'" rel="bookmark"
          >{{ .Title }}</a
        >
        {{ else }} {{ .Title }} {{ end }}
      </h4>
      <p><time class="text-muted">{{ .Date.Format "Jan 2, 2006" }}</time></p>
    </header>
    {{ .Summary }}
  </article>
  <!--<hr class="col-3 my-5" />-->
  {{ end }}
</section>
{{ end }}
